{% extends "./../../layouts/Account.html" %}

{% block Head %}
<link rel="stylesheet" href="/css/Dash.css">
{% endblock %}

{% block Page %}
<main>
    <section class="add blog_post">
        <div class="bread">
            <h2>Crear Entrada</h2>
            <a href="/dash">Volver</a>
        </div>
        
        <form ref='uploadForm' encType="multipart/form-data" action="/dash/blog/add" method="post">
            <input type="hidden" name="idv4">

            <label for="poster">Portada</label>
            <input type="file" id='poster' name="poster">

            <div class="box">
                <label for='name'>Nombre</label>
                <label for='date'>Publicacion</label>
                <input type="text" id='name' name="name">
                <input type="text" id='date' value="{{date}}" name="date" readonly>
            </div>

            <label for='entry'>Entrada</label>
            <textarea name="entry" id="entry" cols="30" rows="10"></textarea>

            

            <button type="submit">Guardar</button>
        </form>
    </section>

    <section class="view">
        <div class='img_poster'>
            <img src="" id='_poster'>
        </div>
    </section>
</main>
{% endblock %}