main{
    padding: 0 1rem;
    margin: 2rem auto;
    min-height: 70vh;
}
.error_app{
    background-color: #fafafa;
    border-radius: .2rem;
    border: 1px solid #ddddddd0;
    padding: 1.5rem 2rem;
    max-width: 45rem;
    margin: 1rem auto;

    .logo{
        font-weight: 400;
        font-size: 2.2em;
        font-family: 'Lilita One', cursive;
        color: #2EBFA5;
    }

    h2{
        display: inline-block;
        font-size: 3em;
        font-weight: 600;
    }

    .message{
        letter-spacing: .5;
        word-spacing: 2px;
        margin-top: .4rem;
        font-size: 1.1em;
    }

    .debug{
        margin: .5rem 0;
        font-size: .8em;
        opacity: .6;
    }

    a{
        display: inline-block;
        margin-top: 1.5rem;
        
        color: #6B7FD7;
        text-decoration: none;
        font-size: 1.1em;
        &:hover{
            text-decoration: underline;
        }
    }
}