{% extends "./../../layouts/Account.html" %}

{% block Head %}
<link rel="stylesheet" href="/css/Account.css">
{% endblock %}

{% block Page %}
<main>
    <section class="login">
        {{message}}
        <form action="/login" method="post">
            <input type="hidden" name="type" value="login">            
            <h2>Ingresar</h2>
            
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" id="username">

            <label for="password">Contrasena</label>
            <input type="password" name="password" id="password">

            <button>Ingresar</button>

            <p>
                Si no tienes una cuenta puedes registrarte haciendo click en el siguiente enlace
                <a href="/signup?ref={{ref}}">Registrarse</a>
            </p>
        </form>
    </section>
</main>
{% endblock %}