{% extends "./../../layouts/Main.html" %}

{% block Head %}
<link rel="stylesheet" href="/css/Other.css">
{% endblock %}

{% block Page %}
<main>
    <section>
        <h2>Política de DMCA</h2>
        <p>Yomikiri respeta los derechos de autor y se compromete a cumplir con el Digital Millennium Copyright Act (DMCA) y otras leyes de propiedad intelectual. Nuestra plataforma proporciona un entorno para compartir y disfrutar del contenido, siempre con respeto a los derechos de los autores originales.</p>

        <h3>Notificación de Infracción de Derechos de Autor:</h3>
        <p>Si eres un propietario de derechos de autor o un agente autorizado y crees que el contenido en Yomikiri infringe tus derechos de autor, puedes presentar una notificación DMCA a través de nuestro proceso de contacto. Debe incluir la siguiente información:</p>

        <ul>
            <li>1. Tu nombre completo y la información de contacto.</li>
            <li>2. Identificación específica del trabajo protegido por derechos de autor que se alega ha sido infringido.</li>
            <li>3. Identificación del material infractor junto con suficiente información para permitirnos localizar el material en nuestra plataforma.</li>
            <li>4. Información suficiente para que podamos comunicarnos contigo, como dirección de correo electrónico, número de teléfono y dirección postal.</li>
            <li>5. Declaración de que tienes una creencia de buena fe de que el uso del material en la forma denunciada no está autorizado por el propietario de los derechos de autor, su agente o la ley.</li>
            <li>6. Declaración de que la información proporcionada en la notificación es precisa y bajo pena de perjurio, eres el propietario de los derechos de autor o estás autorizado para actuar en nombre del propietario de los derechos de autor.</li>
        </ul>

        <h3>Acciones en Caso de Notificación Válida:</h3>
        <p>Una vez recibida una notificación DMCA válida, tomaremos las medidas adecuadas, que pueden incluir la eliminación o desactivación del contenido infractor. Si el usuario que ha publicado el contenido infractor es notificado de acuerdo con el DMCA y proporciona una contranotificación válida, es posible que el contenido se restaure.</p>

        <h3>Política para Usuarios y Contenido:</h3>
        <p>Los usuarios son responsables de garantizar que tienen los derechos adecuados para el contenido que publican en Yomikiri. Al usar nuestra plataforma, los usuarios aceptan no publicar contenido que infrinja los derechos de autor ni utilizar nuestra plataforma para compartir material protegido por derechos de autor sin el permiso adecuado.</p>
        <p>Agradecemos tu cooperación en respetar los derechos de autor y la propiedad intelectual. Si tienes preguntas o deseas presentar una notificación DMCA, contáctanos a través de [correo electrónico de contacto].</p>

        <div class="end">
            <p>Atentamente,</p>
            <h6 class="logo">YOMIKIRI</h6>
        </div>
    </section>

    <section>
        <h2>Descargo de Responsabilidad</h2>
        <p>Bienvenido a Yomikiri, una plataforma donde los usuarios pueden disfrutar de one-shots y contenidos relacionados de forma libre y creativa. Deseamos resaltar la importancia de respetar los derechos de autor y el contenido original de los autores.</p>

        <h3>Derechos de Autor:</h3>
        <p>Todos los contenidos presentados en Yomikiri son proporcionados por usuarios de la comunidad y, en algunos casos, por autores originales que han otorgado el permiso adecuado. Sin embargo, no podemos garantizar la veracidad de los permisos en todos los casos.</p>

        <h3>Uso Responsable:</h3>
        <p>Apreciamos que los usuarios respeten los derechos de autor y la propiedad intelectual. Si eres el autor original de un trabajo y sientes que se ha publicado sin el permiso adecuado, te instamos a que nos contactes para que podamos tomar medidas inmediatas para eliminar el contenido en cuestión.</p>

        <h3>Reporte de Contenido Infractor:</h3>
        <p>Si descubres contenido en Yomikiri que crees que viola los derechos de autor o no tiene el permiso adecuado, te pedimos que nos lo notifiques a través de [correo electrónico de contacto] proporcionando detalles específicos. Investigaremos todos los informes y tomaremos medidas apropiadas.</p>

        <h3>Compromiso:</h3>
        <p>Estamos comprometidos a mantener un entorno en el que los derechos de autor sean respetados. Si descubrimos que se ha publicado contenido sin el permiso adecuado, actuaremos con prontitud para eliminarlo.</p>

        <h3>Aviso Legal:</h3>
        <p>Yomikiri no se hace responsable por el contenido proporcionado por los usuarios. Los usuarios son responsables de asegurarse de que cuentan con los permisos necesarios para publicar y compartir cualquier contenido en la plataforma.</p>

        <p>Agradecemos tu comprensión y cooperación en la preservación de los derechos de autor y la integridad de la comunidad Yomikiri. Si tienes preguntas o inquietudes adicionales, no dudes en contactarnos.</p>

        <div class="end">
            <p>Atentamente,</p>
            <h6 class="logo">YOMIKIRI</h6>
        </div>
    </section>
</main>
{% endblock %}