{% extends "./../../layouts/Main.html" %}

{% block Head %}
<link rel="stylesheet" href="/css/Other.css">
{% endblock %}

{% block Page %}
<main>
    <section>
        <h2>Políticas de privacidad</h2>

        <h3>Introducción:</h3>
        <p>Bienvenido a Yomikiri. En esta política de privacidad, describimos cómo recopilamos, usamos y protegemos la información personal que recopilamos a través de nuestra plataforma. Al utilizar nuestros servicios, aceptas los términos descritos aquí.</p>

        <h3>Información que Recopilamos:</h3>
        <p>Utilizamos un sistema de autenticación basado en JWT (JSON Web Tokens) para guardar el idv4 del usuario al iniciar sesión. No recopilamos contraseñas de los usuarios. </p>
        <p>Recopilamos el nombre de usuario y la contraseña al momento de registrar una cuenta.</p>
        <p>Los usuarios pueden proporcionar una imagen de perfil, pero esto es opcional.</p>
        <p>También podemos recopilar datos analíticos no identificables para mejorar la experiencia de usuario.</p>

        <h3>Uso de la Información:</h3>
        <p>Utilizamos la información proporcionada para autenticar a los usuarios y brindarles acceso a los servicios de nuestra plataforma.</p>
        <p>Guardamos los IDs de los mangas que un usuario agrega para identificarlos en caso de problemas relacionados con derechos de autor.</p>

        <h3>Compartir Información:</h3>
        <p>No compartimos información personal con terceros, excepto cuando sea necesario para el funcionamiento de la plataforma o cuando se requiera por ley.</p>

        <h3>Seguridad de Datos:</h3>
        <p>Implementamos medidas de seguridad para proteger la información personal y los datos de los usuarios.</p>

        <h3>Derechos de los Usuarios:</h3>
        <p>Los usuarios tienen derecho a acceder, corregir o eliminar su información personal.</p>
        <p>Los usuarios pueden cambiar su contraseña y, en ciertos intervalos, su nombre de usuario.</p>

        <h3>Uso de Cookies y Análisis:</h3>
        <p>Utilizamos cookies para mejorar la experiencia del usuario. Los usuarios pueden cambiar la configuración de las cookies en su navegador.</p>
        <p>Recopilamos datos analíticos no identificables para mejorar la plataforma y entender cómo se utiliza.</p>

        <h3>Contenido para Adultos:</h3>
        <p>Aunque advertimos a los usuarios sobre el contenido "NSFW", no podemos garantizar que toda la plataforma esté libre de él.</p>

        <h3>Cambios en la Política:</h3>
        <p>Podemos actualizar esta política en el futuro. Los cambios serán notificados a los usuarios de manera adecuada.</p>

        <h3>Contacto:</h3>
        <p>Si tienes preguntas sobre cómo manejamos la información personal, contáctanos a través de [correo electrónico de contacto].</p>

        <br>
        <p>Agradecemos tu confianza en Yomikiri y estamos comprometidos a proteger tu privacidad. Si tienes preguntas adicionales sobre la privacidad y el uso de datos, no dudes en ponerte en contacto con nosotros.</p>

        <div class="end">
            <p>Atentamente,</p>
            <h6 class="logo">YOMIKIRI</h6>
        </div>
        <span class="vigor">Fecha de Entrada en Vigor: 22 de Agosto, 2023</span>
    </section>
</main>
{% endblock %}