{% extends "./../../layouts/Main.html" %}

{% block Head %}
<link rel="stylesheet" href="/css/Other.css">
{% endblock %}

{% block Page %}
<main>
    <section>
        <h2>Términos y Condiciones</h2>

        <h3>Aceptación de los Términos</h3>
        <p>Al acceder y utilizar la plataforma Yomikiri, aceptas los términos y condiciones aquí descritos. Si no estás de acuerdo con estos términos, te recomendamos no utilizar nuestra plataforma.</p>

        <h3>Uso Responsable</h3>
        <p>Los usuarios de Yomikiri deben usar la plataforma de manera responsable y respetuosa. No se permite el uso de la plataforma para actividades ilegales, ofensivas o perjudiciales para otros usuarios.</p>

        <h3>Contenido de Usuario</h3>
        <p>Los usuarios son responsables del contenido que publican en Yomikiri. Al subir contenido, garantizas que tienes los derechos necesarios para compartirlo y que no infringes los derechos de autor ni violas ninguna ley aplicable.</p>

        <h3>Privacidad</h3>
        <p>Tu privacidad es importante para nosotros. Consulta nuestra <a href="/privacy-policies">Política de Privacidad</a> para obtener información detallada sobre cómo recopilamos, usamos y protegemos la información personal de los usuarios.</p>

        <h3>Contenido para Adultos</h3>
        <p>Advertimos que la plataforma podría contener contenido "NSFW" o imágenes explícitas. Los usuarios deben navegar por la plataforma con precaución y estar conscientes de que podrían encontrarse con contenido inapropiado.</p>

        <h3>Propiedad Intelectual</h3>
        <p>Todos los derechos de propiedad intelectual relacionados con la plataforma y su contenido son propiedad de Yomikiri o sus licenciantes. No se permite el uso no autorizado de ningún contenido de la plataforma.</p>

        <h3>Modificaciones y Cambios</h3>
        <p>Yomikiri se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios serán efectivos a partir de su publicación en la plataforma. Se recomienda revisar periódicamente estos términos.</p>

        <h3>Contacto</h3>
        <p>Si tienes preguntas o inquietudes sobre estos términos y condiciones, contáctanos a través de [correo electrónico de contacto].</p>

        <div class="end">
            <p>Atentamente,</p>
            <h6 class="logo">YOMIKIRI</h6>
        </div>
        <span class="vigor">Última actualización: 22 de Agosto, 2023</span>

    </section>
</main>
{% endblock %}