<footer>
    <div class="large">
        <h1 class="logo">
            YOMIKIRI
        </h1>
        <p>Explora un mundo de emocionantes mangas y yomikiris en línea. Sumérgete en historias cautivadoras y descubre obras de autores talentosos. ¡Bienvenido a la plataforma de lectura de mangas que te llevará a nuevas aventuras</p>
    </div>
    <div class="normal">
        <h3>Comunidad</h3>
        <div class="list">
            <a href="/contact">Contacta con nosotros</a>
            <a href="/blog">Blog Oficial</a>
            <a href="/forum">Foro</a>
        </div>
    </div>
    <div class="normal">
        <h3>Ayuda</h3>
        <div class="list">
            <a href="/privacy-policies">Políticas de privacidad</a>
            <a href="/terms-and-conditions">Términos y condiciones</a>
            <a href="/dmca">Política de DMCA</a>
        </div>
    </div>
    <div class="normal">
        <h3>Familia</h3>
        <div class="list">
            <a href="https://manganoyomu.org">MangaYOMU (Dead)</a>
        </div>
    </div>

    <p class="created_by">
        Create By <a href="">Phownix</a> | &copy; Yomikiri 2023
    </p>
</footer>