<footer>
    <div class="large">
        <h1 class="logo">
            YOMIKIRI
        </h1>
        <p>Explora un mundo de emocionantes mangas y yomikiris en línea. Sumérgete en historias cautivadoras y descubre obras de autores talentosos. ¡Bienvenido a la plataforma de lectura de mangas que te llevará a nuevas aventuras</p>
    </div>
    <div class="normal">
        <h3>Comunidad</h3>
        <div class="list">
            <a href="">Contacta con nosotros</a>
            <a href="">Blog Oficial</a>
            <a href="">Foro</a>
        </div>
    </div>
    <div class="normal">
        <h3>Ayuda</h3>
        <div class="list">
            <a href="">Políticas de privacidad</a>
            <a href="">Términos y condiciones</a>
            <a href="">Política de DMCA</a>
            <a href="">FAQ</a>
        </div>
    </div>
    <div class="normal">
        <h3>Familia</h3>
        <div class="list">
            <a href="https://manganoyomu.org">MangaYOMU</a>
        </div>
    </div>

    <p class="created_by">
        Create By <a href="">Phownix</a> | &copy; Yomikiri 2023
    </p>
</footer>