{% extends "./../layouts/Account.html" %}

{% block Head %}
<link rel="stylesheet" href="/css/Dash.css">
{% endblock %}

{% block Page %}
<main>
    <section class="bread">
        <h2>DASHBOARD</h2>
    </section>
    <section class="home_menu">
        <a href="/dash/manga">Mangas</a>
        <a href="/dash/manga/add_manga">Agregar Manga</a>
        <a href="/dash/manga/add_categorie">Agregar Categoria</a>
        <a href="/dash/blog/add">Subir al Blog</a>
    </section>
</main>
{% endblock %}